body{padding: 0px;margin: 0; background : url(../ima/b.png) ; font-family: 'Krona One', sans-serif;}
/*background : url(../ima/g.png) ;*//*background: rgba(0, 153, 153,.5);*/

a{text-decoration: none;color: #ff00ff;}

li{list-style: none;}

header{position: relative;height: 15vh;background-size: cover;}


.contenedor{background : url("https://besthqwallpapers.com/Temp/5-3-2022/4k-3d-checkered-flag-racing-flag-black-and-white-flag-finish-flag-besthqwallpapers.com-1600x900.jpg");
	max-width: 1200px;background-size: cover; height: 100%;width: 90%;margin: auto;border-bottom: 3px groove #ff00ff;}
	/*opacity: 0.5;*/

.logo_menu{display: flex;align-items: flex-end;}

.logo{height: 90px;	}

nav ul  {display: flex;	}
nav ul li {margin-left:  9px;	}/*margin: 0 9px;	*/
nav ul li a{color: #ff00ff; display: block; font-family: 'Krona One', sans-serif; /*font-size: 40px;*/}

.menu{display: flex;justify-content: space-between;padding-top: 20px;align-items: flex-end;}

#boton{background: #ff00ff;padding: 9px 19px;}
/*	position: absolute;
  left: 81%;*/

#boton a{color: white;}
	/*line-height: 50px;*/

.retro {
	background: linear-gradient(
		#0000ff 15%,
		#aaffff 35%,
		#ccffff 45%,
		#000011 55%,
		#000000 52%,
		#000044 60%,
		#000066 70%,
		#000099 80%,
		#0000ff 85%
	);
	color: transparent;background-clip: text; -webkit-background-clip: text; font-family: 'Poppins', sans-serif; -webkit-text-stroke: 1px #ff00ff;
	text-align: center;/*font-size: 100px;*/
}


/*******************************************************/
#racers{

}
.player{
	margin: auto;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 15px;
	width: 80%;
	background-color: white;
	background: rgba(0, 153, 153,.65);
	border-style: ridge;

}
h3{
	/*font-family: 'Smooch Sans', sans-serif;*/
	/*font-family: 'Fredoka', sans-serif;*/
	/*font-family: 'Smooch Sans', sans-serif;*/
	font-family: 'Krona One', sans-serif;
	color: white;margin: 0px;padding: 0;
}
#Bar0,#Bar1,#Bar2,#Bar3,#Bar4,#Bar5,#Bar6 {width: 10px;height: 15px;}
#Bar0 {background-color: cyan;}/*background-color: violet;*/
#Bar1 {background-color: magenta;}/*background-color: indigo;*/
#Bar2 {background-color: blue;}/*background-color: blue;*/
#Bar3 {background-color: #00ff00;}/*background-color: green;*/
#Bar4 {background-color: yellow;}/*background-color: yellow;*/
#Bar5 {background-color: #FF6600;}/*background-color: orange;*/
#Bar6 {background-color: red;}/*background-color: red;
*/
/*******************************************************/
#Bar {
  background-color: #4CAF50;
  width: 10px;
  height: 20px;
}

.myProgress {
	height: 15px;
	width: 72%;
	position: relative;
	background-color: #ddd;
	/*background-color: white;*/
}
