
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html{scroll-behavior: smooth;}
body{padding: 0px;margin: 0; /*background : url(../ima/b.png)*/ ; font-family: 'Krona One', sans-serif;}
a{text-decoration: none;color: #ff00ff;}
li{list-style: none;}

/*header{position: relative;height: 80vh;background : url(../ima/headerLow.png); background-size: cover}*/
#encabezado{position: relative;height: 80vh;background : url(../ima/headerLow.png); background-size: cover}

.contenedor{max-width: 1280px; height: 100%;width: 90%;margin: auto;}
	/*opacity: 0.5;*/

.logo_menu{display: flex;align-items: flex-end;}

.logo{height: 61px;	}

navx ul  {display: flex;	}
navx ul li {margin:  0 20px;	}/*margin: 0 9px;	*/
navx ul li a{color: white; display: block; font-family: 'Krona One', sans-serif; font-size: 19px;
-webkit-text-fill-color: white;
-webkit-text-stroke: 1px black;
}

.menu{display: flex;justify-content: space-between;padding-top: 20px;align-items: center;}

#boton{}

#boton a{color: white;background: black;padding: 9px 19px;padding: 12px 36px;}
#boton a:hover{color: #ff0000;background: black;padding: 9px 19px;padding: 18px 36px;}
	/*line-height: 50px;*/

.retro {
	background: linear-gradient(
/*		#ff000085 15%,
		#ffffff 35%,
		#9a9a9a 45%,
		#868686 55%,
		#474747 52%,
		#890202 60%,
		#aa0000 70%,
		#cb000080 80%,
		#ff000085 85%*/
	);
	color: transparent;background-clip: text; -webkit-background-clip: text; font-family: 'Poppins', sans-serif;-webkit-text-stroke: 1px #898989;  -webkit-text-stroke: 1px white;
	text-align: center;font-size: 50px;
}

.titular{
	margin-top: 20vh;
	color: white;
}

.parrafo{
	background: rgba(0, 0, 0,1 );
	width: 60%;
	display: flex;
}

.titular h1{
	font-family: 'Krona One', sans-serif;
	font-size: 17px;
	padding-left: 9%;
}


/*-------------------------------*/
.titular h1 .hoverfx:link,
.titular h1 .hoverfx:visited {
	color: white;
	text-decoration: none;
	padding: 3px;
	/*padding: 3px 0px 3px 0px;*/
	background-color: black;
	font-family: 'Krona One', sans-serif;
	font-size: 17px;
	display: inline-block;
	transition: all .2s;
}

.titular h1 .hoverfx:hover,
.titular h1 .hoverfx:active {
	color: #ff0000;
	font-size: 17px;
	background-color: #898989;
	box-shadow: 0 16px 32px rgba(0,0,0, 0.6);
	transform: rotate(-5deg) scale(1.3);
}
/*-------------------------------*/

.botones{padding-top: 40px;}
.podio{background: white;color: black;padding: 10px;}
.restart{margin-left: 9px;  background: #898989;color: white;padding: 10px;}

.spam{}


.BottomHeader{background : url(../ima/DivBottomHeader.png);position: relative;height: 12vh; background-size: cover} 

/*******************************************************/
#racers{

}
.player{
	margin: auto;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 15px;
	width: 80%;
	background-color: white;
	background: rgba(0, 153, 153,.65);
	border-style: ridge;

}
h3{
	/*font-family: 'Smooch Sans', sans-serif;*/
	/*font-family: 'Fredoka', sans-serif;*/
	/*font-family: 'Smooch Sans', sans-serif;*/
	/*font-family: 'Krona One', sans-serif;*/
	color: white;margin-bottom: 2px;padding: 0;font-size: 16px;
}
#Bar0,#Bar1,#Bar2,#Bar3,#Bar4,#Bar5,#Bar6 {width: 10px;height: 15px;}
#Bar0 {background-color: cyan;}/*background-color: violet;*/
#Bar1 {background-color: magenta;}/*background-color: indigo;*/
#Bar2 {background-color: blue;}/*background-color: blue;*/
#Bar3 {background-color: #00ff00;}/*background-color: green;*/
#Bar4 {background-color: yellow;}/*background-color: yellow;*/
#Bar5 {background-color: #FF6600;}/*background-color: orange;*/
#Bar6 {background-color: red;}/*background-color: red;
*/
/*******************************************************/
#Bar {
  background-color: #4CAF50;
  width: 10px;
  height: 20px;
}

.myProgress {
	height: 15px;
	width: 72%;
	position: relative;
	background-color: #ddd;
	/*background-color: white;*/
}
